:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #FFD953;
    --fuenteParrafos: "Opne Sans", sans-serif;
    --fuenteLinks: "Roboto", sans-serif;
}
html {
    box-sizing: border-box;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 16px;
    line-height: 2;
}
.contenedor {
    max-width: 1400px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteParrafos);
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
}
p{
    font-size: 16px;
}
/* Header */
.header {
    height: 60px;
}
@media (min-width: 1000px) {
    .header {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header-contenedor{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.boton-movil{
    width: 35px;
    height: 6px;
    background-color: var(--negro);
}
@media(min-width: 1000px){
    .hamburger{
        display: none;
    }
}
.navegacion {
    display: none;
}
@media (min-width: 1000px) {
    .navegacion {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}
.navegacion-enlace {
    display: block;
    text-align: center;
    font-size: 24px;
    color: var(--negro);
    text-decoration: underline;
    font-family: var(--fuenteLinks);
}
.logo {
    width: 54px;
    height: 50px;
}
@media (min-width: 1000px) {
    .logo {
        width: 95px;
        height: 109px;
    }
}
/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    padding-bottom: 40px;
}
@media (min-width: 1000px) {
    .hero {
        flex-direction: row;
        justify-content: center;
        gap: 15vw;
    }
}
.hero img {
    max-width: 250px;
}
/* Sobre mi */
.sobre-mi {
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    padding: 40px 0;
}
@media (min-width: 1000px) {
    .sobre-mi {
        height: 360px;
        flex-direction: row;
        justify-content: center;
        gap: 15vw;
    }
}
.sobre-mi-contenido {
    color: var(--blanco);
    max-width: 380px;
    text-align: center;
    font-weight: 700;
    padding: 0 20px;
}
@media (min-width: 1000px) {
    .sobre-mi-contenido {
        text-align: start;
    }
}
.icono-sm {
    order: 1;
}
@media (min-width: 1000px) {
    .icono-sm {
        order: 0;
    }
    .icono-sm img {
        width: 200px;
    }
}
/* Serivicios */
.titulo-servicios {
    text-align: center;
    padding-bottom: 40px;
}
.contenido-servicio {
    max-width: 300px;
}
.servicios {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
@media (min-width: 1000px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 80px;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    text-align: center;
    font-size: 24px;
}
.servicio p {
    text-align: center;
}
.servicio .iconos {
    height: 15px;
    width: 15px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Contacto */
.contacto {
    display: flex;
    flex-direction: column;
    background-color: var(--negro);
    align-items: center;
}
@media (min-width: 1000px) {
    .contacto {
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 90px;
    }
}
.titulo-contacto {
    color: var(--blanco);
    text-align: center;
}
.formulario {
    width: min (400px, 100%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.formulario fieldset{
    border: none;
}
.campo{
    margin-bottom: 10px;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    display: block;
}
.campo textarea {
    height: 160px;
}
.input-text {
    width: 60vw;
    border: none;
    padding: 15px;
    border-radius: 5px;
}
.boton {
    width: 63.5vw;
    background-color: var(--primario);
    border: none;
    height: 45px;
    text-align: center;
}
@media (min-width: 1000px) {
    .input-text {
        width: 25vw;
        border: none;
        padding: 15px;
        border-radius: 5px;
    }
    .boton {
        width: 26.7vw;
    }
}
/* Footer */
.footer {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
@media (min-width: 1000px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 200px;
    }
}
.logo-footer img {
    width: 150px;
}
.derechos-de-autor {
    text-align: center;
    margin: 0;
}
.redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.red-individual {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}
.link-red {
    color: var(--negro);
}